h1 {
    color: rgb(79, 21, 112);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#board {
    border: 3px solid black;
    cursor: pointer;
    width: 9vw;
    height: 11vh;
    background-color: white;
    border-radius: 50%;
    margin: 2px;
}

#game {
    border: 2px solid black;
    padding: 10px;
    background-color: cornflowerblue;
    /* display: inline-block; */
}

.game-status {
    border: 3px solid blue;
    height: 30vh;
    width: 15vw;
    text-align: center;
}
